# ------------------------------------------------------------------------------------------- #
# Eclipse-specific (https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore) #
# ------------------------------------------------------------------------------------------- #
.metadata

# --------------- #
# Mule-specific #
# --------------- #
.mule/
target/